#Project Setup
general:
  productiveBranch: 'master'

#Steps Specific Configuration
steps:
  executeMaven:
    dockerImage: 'maven:3.5-jdk-7-alpine'
#    globalSettingsFile: ''
#    projectSettingsFile : ''

#Stage Specific Configurations
stages:
  staticCodeChecks:
    findbugsExcludesFile: '' #Path to findbugs exclude file
    pmdExcludes: '' # List or ANT style patterns

#  integrationTests:
#    credentials:
#      - alias: ''
#        credentialId: ''

#  s4SdkQualityChecks:
#    jacocoExcludes:
#      - ''
#    nonErpDestinations:
#      - ''

#  productionDeployment:
#    neoTargets:
#      - host: 'host'
#        account: 'yourAccount'
#        application: 'appName'
#        credentialsId: 'credentialsId'
